# <font color=green>Pivot Table</font>
***
Who needs to create a table in Python and send it via email, I create simple steps to do that.

## <font color=green>Using Pandas to create a table</font>
***
This notebook focus in showing how to send a table with relevant information to people.
Imagine that being really relevant and automatically being sent everyday.

In [33]:
import pandas as pd

# Existing DataFrame
data = {
    'Category': ['Fruit', 'Fruit', 'Vegetable', 'Vegetable', 'Fruit', 'Vegetable'],
    'Item': ['Apple', 'Orange', 'Carrot', 'Broccoli', 'Banana', 'Lettuce'],
    'Price': [1.0, 0.8, 0.5, 0.7, 1.2, 0.6],
    'Quantity': [10, 15, 20, 8, 12, 18]
}

df = pd.DataFrame(data)

# Create a pivot table
pivot_table = df.pivot_table(index='Category', columns='Item', values='Quantity', aggfunc='sum')

print(pivot_table)

Item       Apple  Banana  Broccoli  Carrot  Lettuce  Orange
Category
Fruit       10.0    12.0       NaN     NaN      NaN    15.0
Vegetable    NaN     NaN       8.0    20.0     18.0     NaN

## <font color=green>I want to show this table with a better visual.</font>
***
Let's go to define that!<br>
There is a list of colors to be chosen for the cmap attribute.

In [34]:
# Apply custom styles
styled_pivot_table = pivot_table.style.background_gradient(cmap='coolwarm')

# Display the styled pivot table
styled_pivot_table

## <font color=green>Don't forget data cleaning</font>
***
Let's fix those cells with 'nan'.

In [43]:
# Replace NaN values with blank
pivot_table.fillna(0, inplace=True)
pivot_table

Item       Apple  Banana  Broccoli  Carrot  Lettuce  Orange
Category
Fruit       10.0    12.0       0.0     0.0      0.0    15.0
Vegetable    0.0     0.0       8.0    20.0     18.0     0.0

## <font color=green>Now we have the style working</font>
***
Let's evaluate the information now.

In [45]:
# Apply custom styles
styled_pivot_table = pivot_table.style.background_gradient(cmap='bwr')

# Display the styled pivot table
styled_pivot_table

## <font color=green>Transforming data into HTML</font>
***
Steps to convert your data into HTML.

In [46]:
# Convert styled DataFrame to HTML
html_table = styled_pivot_table.to_html()

# Print or save the HTML table
print(html_table)
# You can then use the HTML table in your email body or attach it to the email

<style type="text/css">
#T_b68f4_row0_col0, #T_b68f4_row0_col1, #T_b68f4_row0_col5, #T_b68f4_row1_col2, #T_b68f4_row1_col3, #T_b68f4_row1_col4 {
  background-color: #ff0000;
  color: #f1f1f1;
}
#T_b68f4_row0_col2, #T_b68f4_row0_col3, #T_b68f4_row0_col4, #T_b68f4_row1_col0, #T_b68f4_row1_col1, #T_b68f4_row1_col5 {
  background-color: #0000ff;
  color: #f1f1f1;
}
</style>
<table id="T_b68f4">
  <thead>
    <tr>
      <th class="index_name level0" >Item</th>
      <th id="T_b68f4_level0_col0" class="col_heading level0 col0" >Apple</th>
      <th id="T_b68f4_level0_col1" class="col_heading level0 col1" >Banana</th>
      <th id="T_b68f4_level0_col2" class="col_heading level0 col2" >Broccoli</th>
      <th id="T_b68f4_level0_col3" class="col_heading level0 col3" >Carrot</th>
      <th id="T_b68f4_level0_col4" class="col_heading level0 col4" >Lettuce</th>
      <th id="T_b68f4_level0_col5" class="col_heading level0 col5" >Orange</th>
    </tr>
    <tr>
      <th class="index_name level0" >Category</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
      <th class="blank col4" >&nbsp;</th>
      <th class="blank col5" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_b68f4_level0_row0" class="row_heading level0 row0" >Fruit</th>
      <td id="T_b68f4_row0_col0" class="data row0 col0" >10.000000</td>
      <td id="T_b68f4_row0_col1" class="data row0 col1" >12.000000</td>
      <td id="T_b68f4_row0_col2" class="data row0 col2" >0.000000</td>
      <td id="T_b68f4_row0_col3" class="data row0 col3" >0.000000</td>
      <td id="T_b68f4_row0_col4" class="data row0 col4" >0.000000</td>
      <td id="T_b68f4_row0_col5" class="data row0 col5" >15.000000</td>
    </tr>
    <tr>
      <th id="T_b68f4_level0_row1" class="row_heading level0 row1" >Vegetable</th>
      <td id="T_b68f4_row1_col0" class="data row1 col0" >0.000000</td>
      <td id="T_b68f4_row1_col1" class="data row1 col1" >0.000000</td>
      <td id="T_b68f4_row1_col2" class="data row1 col2" >8.000000</td>
      <td id="T_b68f4_row1_col3" class="data row1 col3" >20.000000</td>
      <td id="T_b68f4_row1_col4" class="data row1 col4" >18.000000</td>
      <td id="T_b68f4_row1_col5" class="data row1 col5" >0.000000</td>
    </tr>
  </tbody>
</table>

## <font color=green>Set Up email</font>
***
Steps to use Microsoft Outlook

In [47]:
import win32com.client as win32

In [48]:
# criar a integração com o outlook
outlook = win32.Dispatch('outlook.application')

# criar um email
email = outlook.CreateItem(0)

In [49]:
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Format the current date and time
formatted_date = current_date.strftime('%Y-%m-%d %H:%M:%S')

## <font color=green>Set Up email</font>
***
You define people that need to receive the email and the sender of it.

In [50]:
sender_address = "controladoria-bi@paranapanema.com.br"
email.SentOnBehalfOfName = sender_address
email.To = "marceloudo@paranapanema.com.br"
email.Subject = "[Informações de negócio] - " + formatted_date
email.HTMLBody = html_table
email.Send()
print("Email Enviado")

Email Enviado